<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
  <%= image_tag "IMG_4074(2)", width: 310, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p> I am a Junior Developer. I am just starting out with building websites and programs that users will love to work with. I specialize in blogs and websites.</p>
  </div>
</div>

