<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
  <%= image_tag "IMG_4074(2)", width: 310, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p> I am a Junior Developer. I am just starting out with building websites and programs that users will love to work with. My ultimate goal is to challenge myself and work hard to become a senior developer.</p>

    <p>I have worked with Ruby on Rails. I have taken a brief dive into SQL, Javascript, jQuery, HTML, and CSS. I bulit this portfolio and plan to further advance on the production of products with clients as a free lancer. I also love the opporunity to continually learn and adapt with changes in the technology world.</p>
  </div>
</div>

