<div class="inner cover">
  <h1 class="cover-heading">HELLO!</h1>
  <p class="lead">Please check out my blogs and porfolio items to view all of my work. Click the link below to find out more!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-success" %>
  </p>
</div>


  